@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i");

html,
body {
  margin: auto;
  max-width: 100%;
  font-family: "Josefin Sans", sans-serif;
}

.sidebar {
  background-color: pink;
  float: left;
  width: 25%;
  height: 768px;
  text-align: center;
  position: fixed;
  left: 0;
}

.navbar,
.social-icons {
  display: flex;
  flex-direction: column;
}

.navbar a {
  padding: 5px;
  margin: 0.5cm;
  text-decoration: none;
}

.social-icons {
  bottom: 2;
}
.social-icons a {
  padding: 2px;
  font-size: 1.5em;
}

.github {
  color: black;
}

.instagram {
  color: #f0337b;
}

.linkedin {
  color: #0e76a8;
}
