@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i");

html,
body {
  margin: auto;
  max-width: 100%;
  font-family: "Josefin Sans", sans-serif;
}

.sidebar {
  background-color: #333399;
  color: whitesmoke;
  float: left;
  width: 25%;
  height: 768px;
  text-align: center;
  position: fixed;
  left: 0;
  border-right: 2px solid black;
}

.sidebar > h1 {
  text-align: left;
  margin: 25px;
  margin-top: 1em;
  padding: 10px;
  font-size: 4rem;
}

.sidebar > h2 {
  text-align: center;
  /*margin: 25px;*/
  /*margin-top: 8rem;*/
  /*padding: 10px;*/
  font-size: 2rem;
}

.sidebar > p {
  text-transform: uppercase;
  color: black;
  opacity: 0.85;
}

.navbar,
.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}
.navbar {
  margin-top: 3rem;
}
.social-icons {
  flex-direction: row;
}
.navbar a,
.social-icons a {
  padding: 5px;
  text-decoration: none;
  color: antiquewhite;
}

.navbar a:hover,
.social-icons a:hover {
  font-size: 2rem;
}
.navbar a:hover {
  background-color: black;
}
/*.github {
  color: black;
}

.instagram {
  color: #f0337b;
}

.linkedin {
  color: #0e76a8;
}*/
